body{
margin:0;
font-family:Poppins,sans-serif;
background:#0b0f0c;
color:#fff;
}

.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),
url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=1200') center/cover;
display:flex;
flex-direction:column;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px;
align-items:center;
}

.logo{font-weight:bold;letter-spacing:2px}

.menu{font-size:30px;cursor:pointer;display:none}

ul{display:flex;list-style:none;gap:20px}

ul li a{color:white;text-decoration:none}

.hero-content{
margin:auto;
text-align:center;
}

.hero h1{
font-size:60px;
font-family:Cinzel;
}

.btn{
display:inline-block;
padding:10px 20px;
background:#2d6a4f;
color:white;
text-decoration:none;
margin-top:20px;
border-radius:10px;
}

.section{
padding:80px 20px;
max-width:900px;
margin:auto;
}

.alt{
background:#111;
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:all 1s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){
ul{display:none;flex-direction:column}
.menu{display:block}
}
